@use '../config/grid' as grid;

.grid {
  display: block;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(grid.$grid-columns, 1fr);
  gap: grid.$grid-gap;
}

.grid-row--space-around {
  display: grid;
  grid-template-columns: repeat(grid.$grid-columns, auto);
  justify-content: space-between;
  gap: grid.$grid-gap;
}

// .grid-col {
// opcional: estilos base
// }
