@use '../config/colors_map' as c;
@use '../config/colors' as pallette;
@use '../functions/colors' as fn;

.add-service-button {
  cursor: pointer;
}

.add-service-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: 0.3s ease;

  &:hover {
    background-color: fn.getColor(pallette.$darks, '100');
    color: fn.getColor(pallette.$darks, '900');
  }
}

.add-service-icon {
  font-size: 20px;
  transition: 0.3s ease;
}

.add-service-icon[data-name='circle-plus'] {
  .add-service-button:hover & {
    color: inherit;
  }
}
