@use '../mixins/mediaqueries' as mq;

.dropdown {
  position: relative;
  &-content {
    position: absolute;
    top: 100%;
    right: 0;
    width: calc(100% - 2rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;

    @include mq.screen('min', 'md') {
      width: max-content;
      min-width: 12rem;
      right: auto;
      left: 0;
    }

    //hacks para que el dropdown no se pase del navbar en mobile
    &.fit-to-navbar {
      width: calc(100% - 7.5rem);
    }

    &.fit-to-tablet-panel {
      width: calc(300px - 2rem) !important;
    }
  }
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.dropdown-trigger.open .arrow-icon {
  transform: rotate(180deg);

}
