@use '../config/colors_map' as c;
@use 'sass:color';
@use '../mixins/mediaqueries' as mq;

.floating-button {
  width: auto;
  z-index: 900;
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;

  &-container {
    width: 3.75rem;
    height: 3.75rem;
    display: block;
    position: relative;
  }

  &-options {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: calc(100% + 1rem);
    right: 0.25rem;
    gap: 1rem;
  }

  &-toggle {
    width: 3.75rem;
    height: 3.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 1.2rem;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }
  }
}

.option-button {
  transform-origin: right;

  &.show {
    transform: scale(0);
    opacity: 0;
    animation: fade-in-scale 0.2s ease forwards;
    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0;
    }
  }

  &.hide {
    transform: scale(1);
    opacity: 1;
    animation: fade-out-scale 0.2s ease forwards;
    &:nth-child(1) {
      animation-delay: 0;
    }
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }

  &-icon {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;

    & > .icon-wrapper {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.option-button {
  color: #ffffff;
  &-wrapper {
    display: flex;
    height: 3rem;
    max-width: 36rem;
    border-radius: 9999px;
    overflow: hidden;
    justify-content: flex-end;
    width: auto;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    color: #ffffff;
    transition-duration: 0.3s;
    transition-property: background-color, max-width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    &:hover {
      max-width: 36rem;
    }

    &.whatsapp-button {
      background-color: #25d366;

      &:hover {
        background-color: color.adjust(#25d366, $lightness: -10%);
      }
    }
  }
}

@include mq.screen('min', 'lg') {
  .option-button {
    transform-origin: center;

    &-wrapper {
      max-width: 3rem;
    }
  }
}

.main-button {
  &.close-mode {
    background-color: c.$danger;
  }
  .fade-enter {
    animation: fade-in-scale 0.1s ease forwards;
  }
  .fade-exit {
    animation: fade-out-scale 0.1s ease forwards;
  }
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out-scale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.red-dot {
  width: 12px;
  height: 12px;
  background-color: c.$danger;
}
