@use '../config/typography' as typo;
@use '../mixins/mediaqueries' as mq;
@use '../config/colors_map' as c;

.hero {
  min-height: calc(100dvh - 100px);
  @include mq.screen('min', 1920px) {
    min-height: 40rem !important; // Altura mínima para pantallas super grandes
  }

  &-content {
    // margin-top: 7rem;
    display: flex;
    flex: 1;
    justify-content: center;

    & > div {
      flex: 1;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      @include mq.screen('min', 'lg') {
        text-align: left !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
      }
    }
  }

  &-image {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); // Overlay oscuro
      pointer-events: none; // Permite hacer clic en los elementos debajo del overlay
    }
  }
  &-overlay {
    &-end-transparent {
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 0) 100%
      );

      @include mq.screen('min', 'lg') {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.8) 30%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
    &-bottom-transparent {
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }
    &-dark {
      background-color: rgba(0, 0, 0, 0.3);
    }
    &-light {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

// .hero {
//   display: flex;
//   min-height: 700px;
//   background-position: top right;
//   background-attachment: fixed;
//   background-size: cover;
//   background-repeat: no-repeat;

//   background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 1) 100%), url('../images/webp/hero-bg-alt-1200.webp');

//   @include mq.screen('min', 'lg') {
//     background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%), url('../images/webp/hero-bg-alt-1200.webp');
//     background-position: top center;
//     background-attachment: fixed;
//     background-size: cover;
//     background-repeat: no-repeat;
//     min-height: 550px;
//     background-position: right;
//   }

//   &__content {
//     margin-top: 7rem;

//     @include mq.screen('min', 'lg') {
//       margin-top: 0;
//     }

//     &--description {
//       max-width: 700px;
//     }
//   }
// }
