@use '../config/colors_map' as c;
@use '../config/colors' as palette;
@use '../functions' as fn;
@use '../config/typography' as typo;
@use '../mixins/mediaqueries' as mq;
@use '../config/breakpoints' as bp;
@use 'sass:map';
@use '../utils/animations' as animate;

.navbar {
  padding-block: 1rem;
  transition: all 0.3s ease-in-out;

  &.hide {
    transform: translateY(-100%);
  }

  &-desktop {
    width: 100%;
  }

  &-brand {
    margin-inline: 2rem;

    &-btn.btn {
      --btn-bg: none;
      --btn-bg-hover: none;
      --btn-bg-active: none;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
    }

    &-logo {
      width: 68px;
      height: 68px;

      &:hover .logo-sheets {
        @include animate.spin();
      }
    }
  }

  &-section {
    flex: 1;
    display: flex;

    &-left {
      justify-content: flex-end;
      order: 1;

      & .navbar-links > :last-child {
        margin-right: auto;
        order: -1;
      }
    }

    &-right {
      justify-content: flex-start;
      order: 3;

      & .navbar-links > :last-child {
        margin-left: auto;
      }
    }
  }

  &-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    align-items: center;
    width: 100%;

    & .navbar-link {
      color: c.$text-color;
      display: flex;
      font-size: typo.$fs-base;
      padding: 0.0625rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      position: relative;
      user-select: none;
      text-decoration: none;
      color: c.$text-color;
      align-items: center;
      text-align: center;
      justify-content: center;

      &:hover,
      &:focus {
        color: c.$primary !important;
        background-color: fn.getColor(palette.$golds, '50');

        & > .icon-wrapper {
          @include animate.shake(0.4s);
        }
      }

      &:focus {
        outline: none;
      }

      &.active {
        color: c.$primary;
        background-color: fn.getColor(palette.$golds, '50');
        border: 1px solid fn.getColor(palette.$golds, '300');

        & > .icon-wrapper {
          @include animate.bounceIn(0.4s);
        }
      }
    }

    &-label {
      color: inherit;
    }
  }

  &-mobile {
    &-controls > .navbar-toggle-btn {
      padding: 0;

      & > .icon-wrapper {
        font-size: 2em !important;
        width: 2rem;
        height: 2rem;
      }
    }

    &-content {
      position: fixed;
      top: 100px;
      left: 0;
      width: 100%; // por defecto ocupa el máximo de ancho disponible
      max-width: calc(
        100% - 5.5rem
      ); // como es convención mobile-first por defecto utiliza 100% en pantallas más grandes se limita a 400px
      max-height: calc(100dvh - 100px);
      margin-bottom: 3rem;
      background-color: rgb(255, 255, 255, 1);
      // backdrop-filter: blur(10px);
      padding: 10rem 0;
      display: flex;
      flex-direction: column;
      z-index: 20;
      transition:
        max-width 0.3s ease,
        padding-top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      overflow-y: scroll;

      & .navbar-links li {
        width: 100%;

        & .navbar-link {
          padding: 0.3125rem 0;
          font-size: 1.125rem;
        }
      }

      &-enter {
        opacity: 0;
        transform: translateX(100%);
      }

      &-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
      }

      &-exit {
        opacity: 1;
        transform: translateX(0);
      }

      &-exit-active {
        opacity: 0;
        transform: translateX(100%);
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
      }
    }
  }

  &-overlay {
    position: fixed;
    top: 101px;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(#000000, 0.2);
    transition: opacity 3s ease;
    z-index: 2;
    cursor: pointer;

    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
    }
  }

  &-tablet {
    &-content {
      position: fixed;
      top: 100px;
      left: 0;
      width: 100%; // por defecto ocupa el máximo de ancho disponible
      max-width: 300px; // como es convención mobile-first por defecto utiliza 100% en pantallas más grandes se limita a 400px
      max-height: calc(100dvh - 100px);
      background-color: #ffffff;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      z-index: 20;
      transition: max-width 0.3s ease;
      overflow-y: scroll;

      & .navbar-links li {
        width: 100%;

        & .navbar-link {
          padding: 0.75rem 0rem;
        }
      }

      &-enter {
        opacity: 0;
        transform: translateX(100%);
      }

      &-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
      }

      &-exit {
        opacity: 1;
        transform: translateX(0);
      }

      &-exit-active {
        opacity: 0;
        transform: translateX(100%);
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
      }
    }
  }

  &-dropdown-service-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &-dropdown-services-added {
    max-height: 200px;
    overflow-y: auto;
  }

  &-dropdown-service-item {
    padding: 0.5rem 1rem;
    background-color: transparent;
    background-color: fn.getColor(palette.$lights, '50');

    &:hover {
      background-color: fn.getColor(palette.$lights, '100');
    }
    &:last-child {
      border-bottom: none;
    }

    & > button {
      --btn-padding: 0.25rem;
      color: c.$text-color-muted;
      --btn-border: none;

      & > .icon-wrapper {
        font-size: 1em !important;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &-dropdown-info .btn {
    min-height: 36px;
  }

  &-dropdown-trigger {
    &:focus {
      background-color: var(--btn-bg-hover);
    }
  }
}
// Clases auxiliares

body.navbar-open {
  overflow: hidden;
}

@include mq.screen-between(md, xl) {
  .navbar-mobile-content {
    max-width: 300px;
  }
}

.bounce-animation.navbar-desktop-cta-button .icon-wrapper svg {
  @include animate.bounceIn(0.3s);
}

.navbar-desktop-cta-button .icon-wrapper > svg {
  @include animate.bounceIcon(5s, $infinite: true);
}

.navbar-desktop-dropdown-content-wrapper,
.navbar-tablet-dropdown-content-wrapper {
  min-width: 300px;
}
