@use '../config/colors_map' as c;
@use '../config/colors' as palette;
@use '../functions' as fn;
@use '../config/typography' as typo;
@use '../mixins/mediaqueries' as mq;
@use '../config/breakpoints' as bp;
@use 'sass:map';
@use '../utils/animations' as animate;

body {
  overflow-x: hidden !important;
}

.navbar {
  padding-block: 1rem;

  &-desktop {
    width: 100%;
  }

  &-brand {
    order: 2;
    margin-inline: 2rem;

    &-btn.btn {
      --btn-bg: none;
      --btn-bg-hover: none;
      --btn-bg-active: none;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
    }

    &-logo {
      width: 68px;
      height: 68px;

      &:hover .logo-sheets {
        @include animate.spin();
      }
    }
  }

  &-section {
    flex: 1;
    display: flex;

    &-left {
      justify-content: flex-end;
      order: 1;

      & .navbar-links > :last-child {
        margin-right: auto;
        order: -1;
      }
    }

    &-right {
      justify-content: flex-start;
      order: 3;

      & .navbar-links > :last-child {
        margin-left: auto;
      }
    }
  }

  &-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    align-items: center;
    width: 100%;

    & .navbar-link {
      color: c.$text-color;
      display: flex;
      font-size: typo.$fs-base;
      padding: 0.0625rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      position: relative;
      user-select: none;
      text-decoration: none;
      color: c.$text-color;
      align-items: center;
      text-align: center;
      justify-content: center;

      &:hover,
      &:focus {
        color: c.$primary !important;
        background-color: fn.getColor(palette.$golds, '50');

        & > .icon-wrapper {
          @include animate.shake(0.4s);
        }
      }

      &:focus {
        outline: none;
      }

      &.active {
        color: c.$primary;
        background-color: fn.getColor(palette.$golds, '50');
        border: 1px solid fn.getColor(palette.$golds, '300');

        & > .icon-wrapper {
          @include animate.bounceIn(0.4s);
        }
      }
    }

    &-label {
      color: inherit;
    }
  }

  &-mobile {
    &-controls {
      margin-left: auto;
      // display: none;
    }

    &-ghost {
      width: 100%;
      flex: 1;
      order: 1;
    }

    &-controls {
      display: flex;
      align-items: center;
      flex: 1;
      order: 3;
      justify-content: flex-end;

      .navbar-toggle-btn {
        background: none;
        margin-right: 1rem;
        color: c.$text-color;
        transition: all 0.3s ease;

        &:hover {
          background: fn.getColor(palette.$golds, '50');
          color: c.$primary;
        }
      }
    }

    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100dvh;
      background-color: rgba(#000000, 0.5);
      backdrop-filter: blur(5px);
      transition: opacity 0.3s ease;
      z-index: 10;

      &-enter {
        opacity: 0;
      }

      &-enter-active {
        opacity: 1;
      }

      &-exit {
        opacity: 1;
      }

      &-exit-active {
        opacity: 0;
      }
    }

    &-content {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%; // por defecto ocupa el máximo de ancho disponible
      max-width: 100%; // como es convención mobile-first por defecto utiliza 100% en pantallas más grandes se limita a 400px
      height: 100dvh;
      background-color: #ffffff;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      z-index: 20;
      transition:
        max-width 0.3s ease,
        padding-top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      overflow-y: scroll;

      & > .container {
        display: flex;
        flex-direction: column;
      }

      &-enter {
        opacity: 0;
        transform: translateX(100%);
      }

      &-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
      }

      &-exit {
        opacity: 1;
        transform: translateX(0);
      }

      &-exit-active {
        opacity: 0;
        transform: translateX(100%);
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
      }

      &-controls {
        display: flex;
        justify-content: space-between;
        min-height: 68px;
        align-items: center;

        & > .navbar-toggle-btn {
          background: none;
          max-height: fit-content;
          color: c.$text-color;

          &:hover {
            background: fn.getColor(palette.$golds, '50');
            color: c.$primary;
          }
        }
      }

      &-links {
        gap: 1rem;
        & li {
          width: 100%;
        }

        & > .navbar-links {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          & .navbar-link {
            min-width: 100%;
            padding: 1rem 0;
            font-size: calc(typo.$fs-base * 1.1);
            text-align: center;
            align-items: center;
            justify-content: center;
            line-height: 1.75;

            &.active {
              font-weight: bold;
              background-color: #f5f2ed;
              background-image: radial-gradient(
                circle,
                fn.getColor(palette.$golds, '50') 10%,
                fn.getColor(palette.$golds, '200') 90%
              );
            }
          }
        }
      }

      &-cta {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 1rem;

        & &-button {
          padding: 1rem 0;
        }
      }
    }
  }

  &-dropdown-service-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    // gap: 0.3rem;
  }

  &-dropdown-services-added {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 1rem;
  }

  &-dropdown-service-item {
    padding: 0.5rem 1rem;
    background-color: transparent;
    background-color: fn.getColor(palette.$lights, '50');

    &:hover {
      background-color: fn.getColor(palette.$lights, '100');
    }
    &:last-child {
      border-bottom: none;
    }

    & > button {
      --btn-padding: 0.25rem;
      color: c.$text-color-muted;
      --btn-border: none;

      & > .icon-wrapper {
        font-size: 1em !important;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &-dropdown-badge {
    // min-width: 1.3rem;
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
    // min-height: 1.3rem;
    line-height: 1.4;
    top: -5px;
    left: 90%;
    // border: 2px solid c.$container-bg;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 24px; // ancho mínimo para 1 dígito
    height: 24px; // altura fija
    padding: 0 6px; // crece hacia los lados
    border-radius: 9999px; // truco para que siempre sea redondo
  }

  // &-dropdown-info {
  //   background-color: fn.getColor(palette.$lights, '50');
  //   line-height: 1.8;
  //   padding: 0.5rem 0.5rem;
  //   font-size: 1rem;
  //   // min-width: 6rem;
  //   border-radius: 0.5rem;

  //   &-wrapper {
  //     font-size: 16px;

  //     & > .icon-wrapper {
  //       font-size: 0.5em !important;
  //       width: 1rem;
  //       height: 1rem;
  //     }
  //   }

  // }
}
// Clases auxiliares

body.navbar-open {
  overflow: hidden;
}

@include mq.screen-between(md, xl) {
  .navbar-mobile-content {
    max-width: 300px;
  }
}

.bounce-animation.navbar-desktop-cta-button .icon-wrapper svg {
  @include animate.bounceIn(0.3s);
}

.navbar-desktop-cta-button .icon-wrapper > svg {
  @include animate.bounceIcon(5s, $infinite: true);
}
