@use 'spacing' as s;
@use 'sass:map';

// Max-widths de containers
$containers: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1320px
);

// Paddings laterales por breakpoint (usando tu escala $spacers)
$container-paddings: (
  xs: map.get(s.$spacers, 7),
  // 1rem
  sm: map.get(s.$spacers, 6),
  // 1.5rem
  md: map.get(s.$spacers, 5),
  // 2rem
  lg: map.get(s.$spacers, 7),
  // 3rem
  xl: map.get(s.$spacers, 4),
  // 4rem
  xxl: map.get(s.$spacers, 8) // 6rem
);
