@use '../config/colors' as c;

// Tema general para formularios (paletas base)
$form-theme-colors: (
  primary: c.$golds,
  success: c.$greens,
  danger: c.$reds
);

// Configuración de estados (niveles de tono)
$form-colors: (
  primary: (
    border: '400',
    background: '0',
    text: '900'
  ),
  success: (
    border: '500',
    background: '50',
    text: '900'
  ),
  danger: (
    border: '500',
    background: '50',
    text: '900'
  )
);

// Dimensiones y comportamiento
$form-padding-y: 0.375rem;
$form-padding-x: 1rem;
$form-font-size: 1rem;
$form-border-radius: 0.25rem;
$form-line-height: 1.5;
