@mixin border($direction, $style) {
  @if $direction == 'all' {
    border: $style;
  } @else {
    border-#{$direction}: $style;
  }
}

@mixin border-radius($corner, $radius) {
  @if $corner == 'all' {
    border-radius: $radius;
  } @else if $corner == 'top' {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  } @else if $corner == 'bottom' {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  } @else if $corner == 'left' {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  } @else if $corner == 'right' {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  } @else if $corner == 'top-left' {
    border-top-left-radius: $radius;
  } @else if $corner == 'top-right' {
    border-top-right-radius: $radius;
  } @else if $corner == 'bottom-left' {
    border-bottom-left-radius: $radius;
  } @else if $corner == 'bottom-right' {
    border-bottom-right-radius: $radius;
  } @else if $corner == 'pill' {
    border-radius: $radius * 3;
  } @else if $corner == 'circle' {
    border-radius: 50%;
  } @else {
    @warn "Border radius mixin: corner `#{$corner}` no reconocido.";
  }
}
