.icon {
  width: 1.15em; // se ajusta el tamaño un 0.15em más grande que el texto para que se vea más grande y mas cómodo a la vista
  aspect-ratio: 1;
  fill: currentColor;
  display: inline-flex;
}
