.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1em; // Hereda del contexto (ideal)
  line-height: 1;
  width: 1.15em;
  height: 1.15em;

  .icon {
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }

  &-sm {
    font-size: 0.875em; // ≈14px si el root es 16px
    width: 1em;
    height: 1em;
  }

  &-xs {
    font-size: 0.75em; // ≈12px
    width: 0.875em;
    height: 0.875em;
  }

  &-lg {
    font-size: 1.75em; // ≈28px
    width: 1.45em;
    height: 1.45em;
  }

  /* Aplicar la animación a los SVG deseados */
  & > svg[data-icon-name='circle-question'] {
    animation: notFoundIconAnimation 1s infinite; /* 2s de duración, infinito */
  }
}

/* ANIMACIÓN FADE*/
@keyframes notFoundIconAnimation {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  50% {
    opacity: 0.3;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}
