@use '../config/typography' as typo;
@use '../mixins/typography' as typo_mixins;
@use '../functions/typography' as typo_functions;

// Encabezados
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: typo.$font-family-heading;
  font-weight: typo.$titles-font-weight;
  line-height: typo.$titles-line-height;
  margin-bottom: typo.$title-margin-bottom;
}

// Aplicación de tamaños escalados
h1 {
  @include typo_mixins.fluid-font-size(h1);
}

h2 {
  @include typo_mixins.fluid-font-size(h2);
}

h3 {
  @include typo_mixins.fluid-font-size(h3);
}

h4 {
  @include typo_mixins.fluid-font-size(h4);
}

h5 {
  @include typo_mixins.fluid-font-size(h5);
}

h6 {
  @include typo_mixins.fluid-font-size(h6);
}

// Texto base y variaciones
p {
  font-size: typo_functions.size(normal, typo.$font-sizes);
  line-height: typo.$line-height-base;
  margin-bottom: typo.$paragraph-margin-bottom;
}

small,
.small {
  font-size: typo_functions.size(small, typo.$font-sizes);
}

.smaller {
  font-size: typo_functions.size(smaller, typo.$font-sizes);
}
