@use '../config/typography' as typo;
@use '../mixins/typography' as mixin;
@use 'sass:map';

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: typo.$font-family-heading;
  font-weight: map.get(typo.$font-weights, black);
  line-height: typo.$title-line-height;
  margin-bottom: 0.5rem;
}

h1 {
  @include mixin.font-size(h1, $fluid: true);
}
h2 {
  @include mixin.font-size(h2, $fluid: true);
}
h3 {
  @include mixin.font-size(h3, $fluid: true);
}
h4 {
  @include mixin.font-size(h4, $fluid: true);
}
h5 {
  @include mixin.font-size(h5);
}
h6 {
  @include mixin.font-size(h6);
}

// Body
body,
p,
li,
a,
.text-base {
  @include mixin.font-size(regular, $fluid: true);
  font-weight: map.get(typo.$font-weights, regular);
}

p {
  line-height: typo.$line-height-base;
  margin-bottom: 1.25rem;
}

small,
.small {
  @include mixin.font-size(small);
}

.fs-inherit {
  font-size: inherit !important;
}
