@use '../config/borders' as borders;
@use '../mixins/borders' as borders_mixins;
@use 'sass:map';

$borders-directions: top, right, bottom, left, all, none;
$borders-radius-corners: top-left, top-right, bottom-left, bottom-right, top, bottom, left, right, pill, circle, all;

$border-style: borders.$border-width borders.$border-style var(--border-color);
$border-radius-base: borders.$border-radius;

// Bordes
@each $direction in $borders-directions {
  @if $direction == 'all' {
    .border {
      @include borders_mixins.border('all', $border-style);
    }
  } @else if $direction == 'none' {
    .border-none {
      border: none;
    }
  } @else {
    .border-#{$direction} {
      @include borders_mixins.border($direction, $border-style);
    }
  }
}

// Bordes redondeados
@each $corner in $borders-radius-corners {
  @if $corner == 'all' {
    .rounded {
      @include borders_mixins.border-radius('all', $border-radius-base);
    }
  } @else if $corner == 'pill' {
    .rounded-#{$corner} {
      @include borders_mixins.border-radius('pill', $border-radius-base * 3);
    }
  } @else if $corner == 'circle' {
    .rounded-#{$corner} {
      @include borders_mixins.border-radius('circle', 50%);
    }
  } @else {
    .rounded-#{$corner} {
      @include borders_mixins.border-radius($corner, $border-radius-base);
    }
  }
}
