.header {
  min-height: 72px;
}


.navbar {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-nav-list {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &-nav-item > a{
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--primary);
    }

    & .logo {
      width: 56px;
      height: auto;
    }
  }

}
