@use '../config/colors_map' as c;
@use '../config/colors' as pallette;
@use '../functions/' as fn;
@use '../config/typography' as typo;
@use '../mixins/mediaqueries' as mq;
@use '../config/breakpoints' as bp;
@use 'sass:map';

.navbar {
  height:100px;
  top: 0;
  left: 0;
  z-index: 1000;

  &-left,
  &-right {
    flex: 1;
  }

  &-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    // font-family: 'Berkshire Swash';

    & a {
      text-decoration: none;
      color: c.$text-color;
      font-size: typo.$fs-base;
      font-weight: map.get(typo.$font-weights, 'normal');
      transition: color 0.3s;
      user-select: none;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease-in-out;
    border-radius: .375rem;
    display: flex;
    align-items: center;


      &:hover {
        color: c.$text-color;
        background-color: fn.getColor(pallette.$grays, '100');
      }

      &.active {
        color: c.$primary;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
        background-color: fn.getColor(pallette.$golds, '50');
      }
    }
  }

  &-logo {
    width: 80px;
    height: 80px;
  }
}

.navbar-mobile-menu {
  top: 81px;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background-color: rgba($color: #fff, $alpha: 0.8);
  backdrop-filter: blur(5px);

  &.open {
    transform: translateX(0);
  }

  & .navbar-links {
    width: 100%;
    text-align: center;
    gap: 0;

    & li,
    & a {
      width: 100%;
      display: block;
    }

    & a {
      padding: 1.5rem 0;
      font-size: calc(typo.$fs-base * 1.3);
    }
  }

  & a {
    &.active {
      text-decoration: none;
      background-color: c.$primary;
      color: var(--white);
    }
  }
}
