@use '../mixins/mediaqueries' as mq;
@use '../config/colors_map' as c;

.network-status-offline,
.network-status-online {
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;

  &-enter {
    transform: translateY(-100%);
    opacity: 0;
  }
  &-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition:
      transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      opacity 0.5s ease;
  }
  &-exit {
    transform: translateY(0);
    opacity: 1;
  }
  &-exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition:
      transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      opacity 0.5s ease;
  }
}

body .header {
  padding-top: 0;
  // transition: padding-top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

body.thinbar-open .header {
  padding-top: 34.39px; // Ajusta este valor según la altura de la barra
}

.card-title-hack {
  @include mq.screen-between(lg, xl) {
    font-size: 1.6rem;
  }
}

.footer {
  & .list-unstyled li {
    min-height: 1.875rem;
  }
}

.calma-logo-footer {
  & > .logo-word,
  & > .logo-sheets {
    fill: c.$text-color-muted;
  }
}
