// Variables para el sistema de color para Calma

$golds: (
  '0': #ffffff,
  '50': #f5f2ed,
  '100': #e1d8c8,
  '200': #d3c5ad,
  '300': #bfab88,
  '400': #9f814d,
  '500': #7d653e, // ✅ ajustado contraste 4.6:1
  '600': #715c37,
  '700': #57472a,
  '800': #433620,
  '900': #2e2616,
);


$wines: (
  '0': #ffffff,
  '50': #f1e8eb,
  '100': #d2b9c0,
  '200': #bc97a2,
  '300': #9e6777,
  '400': #8b495d,
  '500': #6e1c34,
  '600': #64192f,
  '700': #4e1425,
  '800': #3d0f1d,
  '900': #2e0c16,
);

$purples: (
  '0': #ffffff,
  '50': #f9eef9,
  '100': #eccbec,
  '200': #e0b1e0,
  '300': #ce8ece,
  '400': #ad56ad,
  '500': #8f448f, // ✅ ajustado contraste 4.55:1
  '600': #793d79,
  '700': #5d2f5d,
  '800': #462446,
  '900': #321832,
);

$blues: (
  '0': #ffffff,
  '50': #e7f4fd,
  '100': #b5ddfa,
  '200': #92cdf7,
  '300': #60b6f4,
  '400': #41a8f1,
  '500': #1192ee,
  '600': #0f85d9,
  '700': #0c68a9,
  '800': #095083,
  '900': #073d64,
);

$greens: (
  '0': #ffffff,
  '50': #e8faf2,
  '100': #b8f0d8,
  '200': #96e8c5,
  '300': #66deab,
  '400': #1acd81,
  '500': #12855a, // ✅ ajustado contraste 4.53:1
  '600': #0e7147,
  '700': #0b5636,
  '800': #084128,
  '900': #062c1d,
);


$yellows: (
  '0': #ffffff,
  '50': #faf3ec,
  '100': #f1dbc3,
  '200': #eac9a6,
  '300': #e0b17d,
  '400': #daa164,
  '500': #d18a3d,
  '600': #be7e38,
  '700': #94622b,
  '800': #734c22,
  '900': #583a1a,
);

$reds: (
  '0': #ffffff,
  '50': #fdeeee,
  '100': #f9cbcb,
  '200': #f6b1b1,
  '300': #f28e8e,
  '400': #eb5656,
  '500': #d04646, // ✅ ajustado contraste 4.65:1
  '600': #a73d3d,
  '700': #812f2f,
  '800': #632424,
  '900': #4b1a1a,
);


$grays: (
  '0': #ffffff,
  '50': #f7f8fa,
  '100': #e8eaed,
  '200': #d9dbde,
  '300': #cacccf,
  '400': #bbbcbf,
  '500': #a9aaae,
  '600': #919396,
  '700': #797b7e,
  '800': #5f6164,
  '900': #46484a,
);

$lights: (
  '0': #ffffff,
  '50': #f6f5f2,
  '100': #f0edea,
  '200': #d4d8d3,
  '300': #b8c0bb,
  '400': #94a09a,
  '500': #74847d,
  '600': #5d6a6e,
  '700': #4a5755,
  '800': #394542,
  '900': #33403a,
);

$lights: (
  '0': #ffffff,
  '50': #f6f8f9,
  '100': #f0f3f5,
  '200': #d4dee3,
  '300': #afc1ca,
  '400': #84a0ac,
  '500': #648493,
  '600': #4f6b7a,
  '700': #415763,
  '800': #394a53,
  '900': #334047,
);

$darks: (
  '0': #ffffff,
  '50': #f5f4f2,
  '100': #e5e3e0,
  '200': #cdc9c3,
  '300': #aba59d,
  '400': #847e76,
  '500': #656059,
  '600': #57534d,
  '700': #4a4640,
  '800': #413d37,
  '900': #3a3632,
);

// $darks: (
//   '0': #ffffff,
//   '50': #f5f6f6,
//   '100': #e5e7e8,
//   '150': #dadcdc,
//   '200': #cdd0d4,
//   '300': #abb0b5,
//   '400': #808890,
//   '500': #656c75,
//   '600': #575c63,
//   '700': #4a4e54,
//   '800': #414449,
//   '900': #3a3c3f,
// );

$neutrals: (
  '50': #ffffff,
  '100': #f7f7f7,
  '200': #ededed,
  '300': #dadada,
  '400': #c4c4c4,
  '500': #a6a6a6,
  '600': #7f7f7f,
  '700': #595959,
  '800': #3d3d3d,
  '900': #000000,
);
