@use 'sass:math';
@use 'sass:map';
@use 'spacing' as s;
// Sistema tipográfico para Calma

/**
 * Tipografía
 * ---------------------------------- */

@font-face {
  font-family: 'Berkshire Swash';
  src: url('../assets/fonts/Berkshire Swash/BerkshireSwash-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Paytone One';
  src: url('../assets/fonts/Paytone One/paytone-one-v16-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/**
 * Familia tipográfica
 * ---------------------------------- */
$font-family-base: 'Outfit', sans-serif, Tahoma, Geneva, Verdana, sans-serif !default;
$font-family-alt: sans-serif !default; // Opcional: fuente secundaria
$font-family-heading: 'Paytone One', 'Abril Fatface', serif !default; // Opcional: fuente para encabezados
/**
  * Tamaño base y escala modular
  * ---------------------------------- */
$fs-base: 1rem !default; // 16px (base HTML estándar)
$fs-ratio: 1.25 !default; // Ratio de escala (Major Third)

/**
  * Escala tipográfica
  * ---------------------------------- */
$font-sizes: (
  'h1': $fs-base * pow($fs-ratio, 5),
  'h2': $fs-base * pow($fs-ratio, 4),
  'h3': $fs-base * pow($fs-ratio, 3),
  'h4': $fs-base * pow($fs-ratio, 2),
  'h5': $fs-base * $fs-ratio,
  'h6': $fs-base,
  'normal': $fs-base,
  'small': math.div($fs-base, $fs-ratio),
  'smaller': math.div($fs-base, pow($fs-ratio, 2)),
) !default;

/**
  * Pesos de fuente
  * ---------------------------------- */
$font-weights: (
  'lighter': lighter,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'bolder': bolder,
) !default;

/**
  * Altura de línea
  * ---------------------------------- */
$line-heights: (
  'none': 1,
  'tight': 1.2,
  'normal': 1.5,
  'loose': 1.8,
) !default;

/**
  * Variables aplicadas
  * ---------------------------------- */
// Texto base
$line-height-base: map.get($line-heights, 'normal') !default;
$paragraph-margin-bottom: map.get(s.$spacers, 3) !default; // 1rem

// Títulos
$title-margin-bottom: map.get(s.$spacers, 2) !default; // 0.5rem
$titles-line-height: map.get($line-heights, 'tight') !default;
$titles-font-weight: map.get($font-weights, 'lighter') !default;

/**
  * Tipografía responsiva
  * ---------------------------------- */
$responsive-type-ratios: (
  'sm': 1.2,
  'lg': 1.333,
) !default;

/**
  * Longitud óptima de línea
  * ---------------------------------- */
$measure-base: 65ch !default; // Ideal para lectura
$measure-short: 45ch !default; // Para sidebars
$measure-long: 75ch !default; // Para artículos largos
