@use '../config/containers' as container;
@use 'mediaqueries' as mq;

@mixin container-base {
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  // Loop de paddings responsivos
  @each $breakpoint, $padding in container.$container-paddings {
    @include mq.screen('min', $breakpoint) {
      --gutter-x: #{$padding};
      padding-left: calc(var(--gutter-x) / 2);
      padding-right: calc(var(--gutter-x) / 2);
    }
  }
}

@mixin container-responsive {
  @each $breakpoint, $container-width in container.$containers {
    @if $container-width != 100% {
      @include mq.screen('min', $breakpoint) {
        max-width: $container-width;
      }
    }
  }
}
